@model BCore.Models.ViewModels.PostViewModel

@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;
@using BCore.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<p>
    <div class="mymedia">
        @{
            var user = await UserManager.FindByIdAsync(Model.UserId);
        }
        <span  class="mymedia-figure" gravatar-email="@user.Email" image-size="64" width="64"></span>
        
        <div class="mymedia-body">
            <div class="row">                
                <div class="col-xs-9 block">
                    <div class="user-name">@user.UserName</div>
                    <div class="mymedia-status">
                        @Model.DateTime.ToString("dd.MM.yyyy hh:mm")
                        &nbsp; <a href="/Post/Index?id=@Model.Id#commentAnchor"><i class="glyphicon glyphicon-comment"></i> @Model.Comments.Count</a>
                        &nbsp;
                        @foreach (var postHash in Model.PostHashes)
                        {
                            <a href="#"><span class="label label-info">@HashTag.HashTagPrefix@postHash.Tag</span></a>
                        }
                    </div>
                </div>

                @if (Model.CanEdit)
                {
                    <div class="col-xs-1 col-xs-push-2 block">
                        <div class="dropdown pull-right">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/Blog/DeletePost?id=@Model.Id">delete</a></li>
                            </ul>
                        </div>   
                    </div>
                }
            </div>
        </div>
    </div>          
</p>